@charset 'UTF-8';

* {
    padding: 0%;
    margin: 0%;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: rgb(190, 190, 190);
}
header > h1 {
    text-align: center;
}
menu ul {
    list-style-type: none;
    background-color: rgb(126, 122, 122);
}
menu li {
    background-color: rgb(77, 75, 75);
    display: inline-block;
    padding: 10px;
    color: white;
}
article {
    width: 600px;
    display: block;
    margin: auto;
}